references:
  envoy-build-image: &envoy-build-image
    envoyproxy/envoy-build:worker-fbf855e7d38e205264ef9df1f3a16e8e376b7058

version: 2
jobs:
   test:
     docker:
       - image: *envoy-build-image
     resource_class: xlarge
     working_directory: /source
     steps:
       - checkout
       - run: ci/do_ci.sh bazel.test

workflows:
  version: 2
  all:
    jobs:
      - test
